<!DOCTYPE html>
<html lang="en" dir="ltr" class="light">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <title>SEST - Acessar Supriodonto</title>
    <link rel="icon" type="image/x-icon" href="/assets/images/logo/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet" />
    <link href="https://unpkg.com/aos@2.3.0/dist/aos.css" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/css/app.css" />
    <script src="/assets/js/settings.js" sync></script>
</head>

<body class="font-inter skin-default">
    <!-- [if IE]> <p class="browserupgrade">
            You are using an <strong>outdated</strong> browser. Please
            <a href="https://browsehappy.com/">upgrade your browser</a> to improve
            your experience and security.
        </p> <![endif] -->

    <!--/* <div class="loginwrapper bg-cover bg-no-repeat bg-center" style="background-image: url(/assets/images/page-bg.png)"> */-->
    <div class="loginwrapper bg-cover bg-no-repeat bg-center" style="background: rgb(0, 41, 105)">
        <div class="lg-inner-column">
            <div class="left-columns lg:w-1/2 lg:block hidden">
                <div class="logo-box-3">
                    <a heref="index.html" class="">
                        <img src="/assets/images/logo/logo-white.svg" alt="logo" />
                    </a>
                </div>
            </div>
            <div class="lg:w-1/2 w-full flex flex-col items-center justify-center">
                <div class="auth-box-3">
                    <div class="mobile-logo text-center lg:hidden block">
                        <a heref="index.html" class="flex justify-center">
                            <img src="/assets/images/logo/logo.svg" alt="" class="mb-10 dark_logo" />
                            <img src="/assets/images/logo/logo-white.svg" alt="" class="mb-10 white_logo" />
                        </a>
                    </div>
                    <div class="text-center 2xl:mb-10 mb-5">
                         <a heref="index.html" class="flex justify-center pb-2">
                            <img src="/assets/images/logo/logo-supriodonto.png" alt="logo-supriodonto" width="320px" />
                        </a>
                        <div class="text-slate-500 dark:text-slate-400 text-base">
                            Insira seus dados de acesso
                        </div>
                    </div>
                    <form class="space-y-4" th:action="@{/login}" method="post">
<!--                        <div class="alert alert-danger light-mode" th:if="${#bools.isTrue(param.error)}">-->
<!--                            O nome de usuário ou senha não confere-->
<!--                        </div>-->

                        <div class="alert alert-danger light-mode" th:if="${session.loginError}">
                            <span th:text="${session.loginError}"></span>
                        </div>

                        <div class="fromGroup">
                            <label class="block form-label">E-mail</label>
                            <div class="relative">
                                <input type="text" name="username" class="form-control py-2"
                                    placeholder="insira seu e-mail" autofocus />
                            </div>
                        </div>
                        <div class="fromGroup">
                            <label class="block form-label">Senha</label>
                            <div class="relative">
                                <input type="password" name="password" class="form-control py-2"
                                    placeholder="insira sua senha" />
                            </div>
                        </div>
                        <div class="flex justify-center">
                            <!--/*
                            <label class="flex items-center cursor-pointer">
                                <input type="checkbox" class="hiddens" />
                                <span class="text-slate-500 dark:text-slate-400 text-sm leading-6 pl-2">
                                    Manter sessão
                                </span>
                            </label>
                            */-->
                            <a class="text-sm text-slate-800 dark:text-slate-400 leading-6 font-medium"
                                href="/redefinir-senha">
                                Esqueceu a senha?
                            </a>
                        </div>
                        <button class="btn btn-dark block w-full text-center" type="submit">
                            Entrar
                        </button>
                    </form>
                    <div class="relative border-b-[#9AA2AF] border-opacity-[16%] border-b pt-6">
                        <!--/*
                        <div
                            class="absolute inline-block bg-white dark:bg-slate-800 dark:text-slate-400 left-1/2 top-1/2 transform -translate-x-1/2 px-4 min-w-max text-sm text-slate-500 dark:text-slate-400font-normal">
                            Ou entre com
                        </div>
                        */-->
                    </div>

                    <!--/*
                    <div class="max-w-[242px] mx-auto mt-8 w-full">
                    <ul class="flex">
                            <li class="flex-1">
                                <a href="#"
                                    class="inline-flex h-10 w-10 bg-[#1C9CEB] text-white text-2xl flex-col items-center justify-center rounded-full">
                                    <img src="/assets/images/icon/tw.svg" alt="" />
                                </a>
                            </li>
                            <li class="flex-1">
                                <a href="#"
                                    class="inline-flex h-10 w-10 bg-[#395599] text-white text-2xl flex-col items-center justify-center rounded-full">
                                    <img src="/assets/images/icon/fb.svg" alt="" />
                                </a>
                            </li>
                            <li class="flex-1">
                                <a href="#"
                                    class="inline-flex h-10 w-10 bg-[#0A63BC] text-white text-2xl flex-col items-center justify-center rounded-full">
                                    <img src="/assets/images/icon/in.svg" alt="" />
                                </a>
                            </li>
                            <li class="flex-1">
                                <a href="#"
                                    class="inline-flex h-10 w-10 bg-[#EA4335] text-white text-2xl flex-col items-center justify-center rounded-full">
                                    <img src="/assets/images/icon/gp.svg" alt="" />
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div
                        class="mx-auto font-normal text-slate-500 dark:text-slate-400 2xl:mt-12 mt-6 uppercase text-sm text-center">
                        Não tem conta?
                        <a href="#" class="text-slate-900 dark:text-white font-medium hover:underline">
                            Faça seu registro
                        </a>
                    </div>
                    */-->

                    <div class="flex justify-center">
                        <a class="text-sm text-slate-800 dark:text-slate-400 leading-6 font-medium"
                           href="http://supriodonto.com/ajuda/" target="_blank">
                            Precisa de ajuda?
                        </a>
                    </div>
                    <div
                        class="mx-auto font-normal text-slate-500 dark:text-slate-400 2xl:mt-12 mt-6 text-sm text-center">
                        Não tem conta? Contate o administrador da sua unidade.
                    </div>
                </div>
            </div>
            <div class="auth-footer3 text-white py-5 px-5 text-base w-full">
                @supriodonto
            </div>
        </div>
    </div>
</body>

</html>